<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.min.js" integrity="sha384-RuyvpeZCxMJCqVUGFI0Do1mQrods/hhxYlcVfGPOfQtPJh0JCw12tUAZ/Mv10S7D" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    {% csrf_token %}
    {% if request.edit_user != request.user %}
    <div class="m-3">
        <h6>{{request.edit_user.TeacherProfile.first_name}} {{request.edit_user.TeacherProfile.last_name}}</h6>
        <h6>{{request.edit_user.TeacherProfile.teacher_school.name}}</h6>
        <h6>Check Class/Subject you want to remove</h6>
        <div id=class_subject_checkbox>
            {% for key, value in request.edit_user.TeacherProfile.class_subject_map.items %}
            {% for j in value %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="{{ key }}:{{ j }}">
                <label class="form-check-label" for="checkDefault">
                    <div class="row">
                        <div class="col col-sm-2"></div>
                        <h6 class="col col-sm-2">{{ key }}</h6>
                        <div class="col col-sm-2"></div>
                        <h6 class="col col-sm-2">{{ j }}</h6>
                    </div>
                </label>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
        <button id="class_subject_button" class="btn btn-primary" type="button">Submit</button>
    </div>
    {% endif %}
    {% if request.edit_user == request.user %}
    <div>
    </div>
    {% endif %}
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
$(document).on('click', '#class_subject_button', function(event) {
    var subjects = [];
    $("#class_subject_checkbox :input").each(function() {
        if ($(this).is(":checked") == true) {
            subjects.push($(this).val());
        }
    });
    var ldata = {
        'map': JSON.stringify(subjects),

    };
    $.ajax({
            type: 'POST',
            url: `/edit_teacher/{{request.edit_user.id}}`,
            data: ldata,
            encode: true
        })
        .done(function(id) {


        })

});
</script>

</html>